.projects {
  h1 {
    margin: 50px 0 30px 0;
  }
  button {
    background-color: #0098d3;
    border-color: #0098d3;
  }

  .project {
    margin-bottom: 30px;

    .image {
      height: 200px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    a {
      button {
        width: 100%;
        text-transform: uppercase;
      }
    }
  }
}
